.gradle/
build/
run/
out/
bin/
output/
_generated/
generated_textures/
tools/desktop-shell/

*.class
*.log
hs_err_pid*.log
replay_pid*.log

.idea/
.vscode/
*.iml

*.jar
*.war
*.ear

Thumbs.db
desktop.ini
